<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Investment Analysis</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="content" style="padding:5%;">
    <h1>Simple Investment Analysis Tool</h1>
    <div id="terms_dropdown">
        {% for field in existing_terms if field.widget.input_type != 'hidden' %}
        <div>{{field.label}}</div>
        <div>{{field}}</div>

        {% endfor %}
    </div>
    <div id="market_scenario_dropdown">
        {% for field in existing_market_scenarios if field.widget.input_type != 'hidden' %}
        <div>{{field.label}}</div>
        <div>{{field}}</div>
        {% endfor %}
    </div>

    <button id="analyze">Analyze</button>

    <button id="add_new_terms">Add new Terms</button>
    <button id="add_new_market_scenario">Add new Market Scenario</button>
    <div id="new_data">
        <div id="new_terms" class="card"
             style="width: 30%;display: inline-block;padding-left: 50px; vertical-align: top;">
            <form method="POST" action="{{url_for('index_route')}}">
                <input type="hidden" name="form_type" value="terms">
                {{ dealTermForm.csrf_token }}
                {% for field in dealTermForm if field.widget.input_type != 'hidden' %}
                <div>
                    {% if field.widget.input_type != 'submit' %}
                    {{ field.label }}
                    {% endif %}
                </div>
                <div> {{ field }}
                    {% if field.error %}
                    {{error}}
                    {% endif %}
                </div>
                {% endfor %}
            </form>

        </div>


        <div id="new_market_scenario" class="card"
             style="width: 30%;display: inline-block; padding-left: 50px;vertical-align: top;">
            <form method="POST" action="{{url_for('index_route')}}">
                <input type="hidden" name="form_type" value="market_scenario">
                {{ new_market_scenario.csrf_token }}
                {% for field in new_market_scenario if field.widget.input_type != 'hidden' %}
                <div>
                    {% if field.widget.input_type != 'submit' %}
                    {{ field.label }}
                    {% endif %}
                </div>
                <div> {{ field }}
                    {% if field.error %}
                    {{error}}
                    {% endif %}
                </div>
                {% endfor %}
            </form>

        </div>
    </div>
    <div style="display: flex;">
        <div id="market_scenario_selected" class="card"
             style="flex:1;display: inline-block; height: 100 %;vertical-align: top;"></div>
        <div id="terms_selected" class="card"
             style="flex:1;display: inline-block; height: 100 %;vertical-align: top;"></div>
    </div>

    <div id="analyzed_result" class="card">

    </div>
</div>
<script>
$(document).ready(function(){

    $('#new_terms').hide();
    $('#new_market_scenario').hide();

     $("#add_new_terms").click(function(){
        $('#new_market_scenario').hide();
         $('#new_terms').show();
    });

    $("#add_new_market_scenario").click(function(){
     $('#new_terms').hide();
         $('#new_market_scenario').show();
    });

    $("#drop_terms").change(function(){

         if($(this).prop('selectedIndex')!=0){
            $.ajax({
                  type: 'POST',
                  url: '{{url_for('info_scenario')}}',
                  data: JSON.stringify({"index":$(this).prop('selectedIndex')}),
                  success: function(data) { $("#market_scenario_selected").html(data); },
                  contentType: "application/json",
                  dataType: 'html'
                 });
        }

    });

     $("#drop_market").change(function(){

         if($(this).prop('selectedIndex')!=0){
            $.ajax({
                  type: 'POST',
                  url: '{{url_for('info_terms')}}',
                  data: JSON.stringify({"index":$(this).prop('selectedIndex')}),
                  success: function(data) { $("#terms_selected").html(data); },
                  contentType: "application/json",
                  dataType: 'html'
                 });
        }

    });

    $("#analyze").click(function(){

    $('#new_terms').hide();
    $('#new_market_scenario').hide();

         var index_selected_terms = $("#drop_terms").prop('selectedIndex');
         var index_selected_market = $("#drop_market").prop('selectedIndex');

         if(index_selected_terms == 0 ||index_selected_market == 0){

            alert('Select both dropdowns');

         }else{
            $.ajax({
               type: 'POST',
               url: '{{url_for('analyze')}}',
               data: JSON.stringify({"index_terms":index_selected_terms,"index_market":index_selected_market}),
               success: function(data) {


                        if ($('#result_summary').length) {
                         $('#analyzed_result').append(data);
                        }else{
                        $('#analyzed_result').html(data);
                        }


               },
               contentType: "application/json",
               dataType: 'html'
              });
          }
    });
});










</script>
</body>
</html>