<h3>Market Scenario Selected</h3>
<p>Name: {{info['name']}}</p>
<p>Month to exit: {{ info['share_price_exit']}}</p>
<p>Price Exit: {{info['share_price_exit']}}</p>
<p>Share Price Current: {{ info['share_price_current']}}</p>
<p>Share Price Current (Pref): {{ info['share_price_current_pref']}}</p>
