<h3>Terms selected</h3>

<p>Name: {{info['name']}}</p>
<p>Shares Collateral : {{ info['shares_collateral']}}</p>
<p>Financing Amount: {{info['financing_amount']}}</p>
<p>PIK: {{ info['pik']}}</p>
<p>Hurdle {{ info['hurdle']}}</p>
<p>Carried Interest {{ info['carried_interest']}}</p>

