<div class="card" style="padding-top:30px;">
    <h3>Result</h3>
    <h5>Market Scenario: {{ info['market_scenario'] }}</h5>
    <h5>Terms Scenario: {{ info['terms_scenario'] }}</h5>
    <table style="width:100%" id="result_summary">
        <tr>
            <th>Parameter</th>
            <th>Result</th>
        </tr>
        <tr>
            <td>LTV:</td>
            <td>{{ info['ltv']}}</td>
        </tr>
        <tr>
            <td>Stock Component:</td>
            <td>{{ info['stock_component'] }}</td>
        </tr>
        <tr>
            <td>Interest Component:</td>
            <td> {{ info['interest_component'] }}</td>
        </tr>
        <tr>
            <td>Available Collateral:</td>
            <td>{{ info['available_collateral'] }}</td>
        </tr>
        <tr>
            <td>Expected Return:</td>
            <td>{{ info['expected_return'] }}</td>
        </tr>
        <tr>
            <td>IRR:</td>
            <td>{{ info['irr'] }}</td>
        </tr>
        <tr>

            <td>Net IRR:</td>
            <td>{{ info['irr_net'] }}</td>
        </tr>
        <tr>
            <td>Carry Value:</td>
            <td>{{info['carry']}}</td>
        </tr>
    </table>
</div>

